@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
body {
  margin: 0;
  padding: 0;
}
main, section, header {
  margin: auto;
  width: 70%;
  font-family: Nova Mono;
  font-size: 4vmin;
}

h1 {
  text-align: center;
  font-size: 16vmin;
  font-family: Nova Mono;
}

h3 {
  font-size: 6vmin;
  font-family: Nova Mono;
}

main {
  display: flex;
  flex-wrap: wrap;
}

input {
  font-family: Nova Mono;
  font-size: 4vmin;
  max-width: 3em;
}

.on {
  background-color: rgb(250, 230, 0);
}

.off {
  background-color: rgb(131, 121, 61);
}

div.active {
  box-sizing: border-box;
  border: 10px solid rgba(255, 0, 0, 0.379);
  /* background:violet; */
}
