main, form {
  margin: auto;
  width: 70%;
  text-align: center;
}

main {
  border: 1px solid black;
  min-height: 300px;
}

.on {
  background-color: yellow;
}

.off {
  background-color: darkred;
}

.beat {
  display: inline-block;
  width: 40px;
  min-height: 40px;
  border: 4px solid black;
}
